snippet todo
	- [ ] $0

snippet _template:pr
	---
	id: $1
	title: $2
	url: https://github.com/ygt/${3:spabreaks}/pull/$1
	card: https://palatinategroup.atlassian.net/browse/SB-$4
	branch: $5
	status: ${6:open}
	---
